body{
    display:flex;
    justify-content: center;
    align-items: center;
}
ul{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    padding: 10px;
    margin: 10px;
    list-style: none;
    position: relative;
}

a{
    color: black;
    text-decoration: none;
    font-size: 28px;
}
li::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #00bcd4;
    transition: all 500ms;
}

li:hover::before{
    width: 50%;
    transform: translateX(100%);
}


li::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    background: #f0f;
    transition: all 500ms;
}
li:hover::after{
    width: 50%;
    transform: translateX(-100%);
}