body{
    background: rgb(248, 248, 67);
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    font-family: sans-serif;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
ul li{
    margin: 0 20px 0 20px;
    color: #3d3d3d;
    position: relative;
}
ul li::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
    background: #3d3d3d;
    transform-origin: left;
    transform: scale(0);
    transition: all 1000ms;
}
ul li:hover::before{
    transform:scale(1);
}
ul li::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #3d3d3d;
    transform-origin: right;
    transform: scale(0);
    transition: all 1000ms;
}
ul li:hover::after{
    transform:scale(1);
}