body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dfe6e9;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style: none;
    margin: 20px;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    color: #10ac84;
    box-shadow: 0 5px 15px -5px #00000070;
    position: relative;
    font-size: 40px;
    overflow: hidden;
    transition: all 1000ms;
}
li::before{
    content: "";
    position: absolute;
    left: -110%;
    top:90%;
    width: 1250%;
    height: 120%;
    background: #10ac84;
    transform: rotate(45deg);
    transition: all 1000ms;
}
li:hover i{
    transform: scale(1.4);
    color: #f1f1f1;
}
li:hover::before{
    animation: animation 700ms 1 forwards;
}
@keyframes animation{
    0%{
        top: 90%;
        left: -110%;
    }
    50%{
        top: -30%;
        left: 15%;
    }
    100%{
        top: -10%;
        left: -10%;
        transform: scale(1.4)
    }
}